-- CreateEnum
CREATE TYPE "estado_sesion" AS ENUM ('en_curso', 'pendiente', 'completado');

-- CreateTable
CREATE TABLE "IMAGEN" (
    "idImagen" SERIAL NOT NULL,
    "urlImagen" VARCHAR(1024) NOT NULL,
    "fechaSubida" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "grupo" VARCHAR(100) NOT NULL,
    "idCuidador" INTEGER NOT NULL,

    CONSTRAINT "IMAGEN_pkey" PRIMARY KEY ("idImagen")
);

-- CreateTable
CREATE TABLE "GROUNDTRUTH" (
    "idGroundtruth" SERIAL NOT NULL,
    "texto" TEXT NOT NULL,
    "fecha" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idCuidador" INTEGER NOT NULL,
    "idImagen" INTEGER NOT NULL,

    CONSTRAINT "GROUNDTRUTH_pkey" PRIMARY KEY ("idGroundtruth")
);

-- CreateTable
CREATE TABLE "SESION" (
    "idSesion" SERIAL NOT NULL,
    "idPaciente" INTEGER NOT NULL,
    "fechaInicio" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estado" "estado_sesion" NOT NULL DEFAULT 'en_curso',
    "sessionRecall" DOUBLE PRECISION NOT NULL,
    "sessionComision" DOUBLE PRECISION NOT NULL,
    "sessionCoherencia" DOUBLE PRECISION NOT NULL,
    "sessionTotal" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "SESION_pkey" PRIMARY KEY ("idSesion")
);

-- CreateTable
CREATE TABLE "DESCRIPCION" (
    "idDescripcion" SERIAL NOT NULL,
    "texto" TEXT NOT NULL,
    "fecha" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "idImagen" INTEGER NOT NULL,
    "idPaciente" INTEGER NOT NULL,
    "idSesion" INTEGER NOT NULL,

    CONSTRAINT "DESCRIPCION_pkey" PRIMARY KEY ("idDescripcion")
);

-- CreateTable
CREATE TABLE "PUNTAJE" (
    "idPuntaje" SERIAL NOT NULL,
    "idDescripcion" INTEGER NOT NULL,
    "idPaciente" INTEGER NOT NULL,
    "idImagen" INTEGER NOT NULL,
    "rateOmision" DOUBLE PRECISION NOT NULL,
    "rateComision" DOUBLE PRECISION NOT NULL,
    "rateExactitud" DOUBLE PRECISION NOT NULL,
    "puntajeCoherencia" DOUBLE PRECISION NOT NULL,
    "puntajeFluidez" DOUBLE PRECISION NOT NULL,
    "puntajeTotal" DOUBLE PRECISION NOT NULL,
    "fechaCalculo" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PUNTAJE_pkey" PRIMARY KEY ("idPuntaje")
);

-- AddForeignKey
ALTER TABLE "GROUNDTRUTH" ADD CONSTRAINT "GROUNDTRUTH_idImagen_fkey" FOREIGN KEY ("idImagen") REFERENCES "IMAGEN"("idImagen") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DESCRIPCION" ADD CONSTRAINT "DESCRIPCION_idImagen_fkey" FOREIGN KEY ("idImagen") REFERENCES "IMAGEN"("idImagen") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DESCRIPCION" ADD CONSTRAINT "DESCRIPCION_idSesion_fkey" FOREIGN KEY ("idSesion") REFERENCES "SESION"("idSesion") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "PUNTAJE" ADD CONSTRAINT "PUNTAJE_idDescripcion_fkey" FOREIGN KEY ("idDescripcion") REFERENCES "DESCRIPCION"("idDescripcion") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "PUNTAJE" ADD CONSTRAINT "PUNTAJE_idImagen_fkey" FOREIGN KEY ("idImagen") REFERENCES "IMAGEN"("idImagen") ON DELETE CASCADE ON UPDATE NO ACTION;

